Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-override,
  modernize-use-nullptr,
  readability-const-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
FormatStyle: file
